* {
	margin: 0px;
	padding: 0px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 80px 0px;
}

.calculator {
	border: solid 2px black;
	height: 400px;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.display {
	margin-top: 23px;
	border: solid 2px black;
	height: 64px;
	width: 200px;
}

.btns {
	margin-top: 32px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	align-items: center;
	justify-content: center;
	gap: 12px;
}

.btns :first-child,
.btns :nth-child(2) {
	size: 2fr;
}
