* {
	margin: 0px;
	padding: 0px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 80px 0px;
}

.calculator {
	border: solid 2px black;
	height: 400px;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 10px 10px rgba(49, 49, 49, 0.806);
}

.display {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	margin-top: 23px;
	border: solid 2px black;
	height: 64px;
	width: 150px;
	background-color: rgb(210, 206, 206);
	font-size: 22px;
}

/* .display-operator {
	
	
} */

.btns {
	margin-top: 32px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	align-items: center;
	justify-content: center;
	gap: 12px;
}

.btn-main {
	height: 20px;
	width: 20px;
}

.btn-command {
	grid-column: span 2;
}
footer {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}
